/*font-family: 

Poppins, sans serif
RocknRoll, cursive

Colors:

Primary:

Blood red: hsl(355, 66, 38)
Black: hsl(150, 100, 0)
Grunge Yellow: hsl(49, 16, 53) 

Neutral:

Light gray: hsl(22, 6, 76)
Medium gray: hsl(17, 4, 65)
Deep Gray: hsl(353, 6, 28)

*/

:root {
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --ff-rock: "Michroma", sans-serif;
    --ff-rocktwo: "RocknRoll", sans-serif;

    --fs-400: 0.927rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;
    --fs-1200: 3.5rem;

    --clr-neutralLG: hsl(22, 6%, 76%);
    --clr-neutralMG: hsl(17, 4%, 65%);
    --clr-neutralDG: hsl(353, 6%, 28%);
    --clr-primaryBR: hsl(355, 66%, 38%);
    --clr-primaryBlack: hsl(150, 100%, 0%);
    --clr-primaryGY: hsl(49, 16%, 53%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: inherit;
    font-family: var(--ff-sans);
    
}

header {
    position: relative;
}

.sub-headline {
    position: absolute;
    margin: auto;
    width: 300px;
}